body{
    overflow-x:hidden;
    margin: 0;
    padding:0;
    background-image:url(image/fond4.png);
    
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px left 300px top;
    position: absolute;
    background-attachment: scroll;
    z-index: 2;
    
   
}
#scroll {

    scroll-behavior: smooth;
    display: block;
    overflow-y: scroll;
}

header { 
    height: 250px;
    text-align: center;
    align-items: center;

}

#entête{
    /*background-image:url(image/fond2.png);*/
    height:250px;
    width: 100%;
    background-size:auto ;
    background-color: rgb(238, 235, 231); 
    z-index: -1;
    opacity: 50%;
   
}

#weblola{
  height:250px;
    width: 100%;
    background-size:auto ;
}

#weblola h1 {
    display: flex;
    display: block;
    justify-content:center; 
    align-items:center; 
    color:rgb(40, 13, 58);
    margin:0;
    position:relative ;
    text-align: center;
    top:-180px; 
    font-family: 'Josefin Sans', sans-serif;
    font-size:60px;
    opacity: 100%;
}
 #weblola h2{
     display:block;
     display:flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size:40px;
    position: relative;
    top:-200px;
    justify-content: center;


 }

nav{
background-color: rgb(28, 55, 80);
width: 100%;
height:100px ;
position: relative;
min-width: 500px;

}

nav ul {
    float: left;
    list-style-type:none ;
    left: 50%;
    padding-top: 15px;
    margin-left: -60px;
    position: relative;
}

nav ul li {
    float:left;
    list-style-type: none;
    margin-left: 20px;
    position: relative;
    left: -50%;

   
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 30px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    justify-content: space-between;


}

nav ul li a:hover {
    color:rgb(165, 155, 140);
    background-color: whitesmoke;


}

#corps{
    width: 300px;
    height: 220px;
   
    right: -850px;
    position: relative;
    top:80px;
    text-align: justify;
    
}

#lola h1{
    
    display:inline-block;
    position: relative;
   justify-content: center;
    top: 100px;
    right:-850px;
   
   
}

#corps p {
    box-sizing:content-box;
    display: inline;
    float: none;
    line-height: 25.2px;
    position: static;
    z-index: auto;
    text-align: justify;
  
    

}

#photo{
    position: relative;
    right: -400px;
    top:-185px;
}

width: 30%;
margin-left: 400px;
margin-right:500px ;
line-height:1.4em ;
}


@font-face{
font-family:"Sans Serif" ;
src:url(police/Cano.otf);

}

#trait {
   
    top:500px; 
    position: relative;
    border-width : 0 0 1px;
    width: 500px;
    right:-580px ;
    
}

#formation{
    position:relative;
    top:50px;
    width: 380px;
    height: 220px;
    text-align: justify;
}

#formation table tr{
    width: 50px;
    position: relative;
    right: -330px;
    
}
#formation table td{
    justify-content: space-between;
    border-spacing: 3px;
    padding-left: 30px;
}

#competences {
   position: relative;
   display: inline-block;
   float: left;
   top: -195px;
   right: -750px;
   border: solid black;
   width: 500px;
   height: 320px;
   text-align: center;

}

#competences h1 {
    
}

#emploi {
    position:relative;
    top:-100px;
    width: 450px;
    height: 220px;
    right: -300px;
    text-align: justify;

} 

#emploi table td{
    right: -500px;
    justify-content: space-between;
    border-spacing: 3px;
    padding-left: 30px;
}


footer{
text-align: center;
display: block ;
height:60px;
background-color: rgb(238, 235, 231); 
position:absolute;
top:2100px;
bottom: 0;
left: 0;
right: 0;


}

footer p {
    font-weight: bold;
    position:relative ;
  top: 15px;

}
